* {
  margin: 0;
  box-sizing: border-box;
}

.title-font {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 104%;
  text-align: center;
  text-transform: uppercase;
  
  color: rgba(22, 44, 78, 0.39);
}

.default-font {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: rgba(0, 0, 0, 0.8);
}

.text-center {
  text-align: center;
}

.timer-number-font {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;

  color: #162C4E;
  text-align: center;
}

.slide-down {
  animation-name: fade-and-slide;
  animation-duration: 700ms;
  animation-fill-mode: forwards;

  opacity: 0;
  transform: translate(0, -40px);
}

.slide-ltr {
  animation-name: fade-and-slide;
  animation-duration: 700ms;
  animation-fill-mode: forwards;

  opacity: 0;
  transform: translate(-200px, -100px);
}

.slide-rtl {
  animation-name: fade-and-slide;
  animation-duration: 700ms;
  animation-fill-mode: forwards;

  opacity: 0;
  transform: translate(200px, -100px);
}

@keyframes fade-and-slide {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1060px) {
  .title-font {
    font-size: 36px
  }

  .default-font {
    font-size: 16px
  }

  .timer-number-font {
    font-size: 36px;
  }
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}